@model IEnumerable<Grocery_Store.Models.Product>
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Home Page";
    ViewBag.controller = " ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <img src="/media/products/@item.Image" class="img-fluid" alt="" />
            <h4>@item.Name</h4>
            <div>
                @Html.Raw(item.Description)
            </div>
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
                @if (signInManager.IsSignedIn(User))
                {
                    ViewBag.controller = "Cart";
                    ViewBag.action = "Add";
                }
                else
                {
                    ViewBag.controller = "Account";
                    ViewBag.action = "Login";
                }
                <a class="btn btn-primary" asp-controller="@ViewBag.controller" asp-action="@ViewBag.action" asp-route-id="@item.Id">Add to cart</a>
            </p>
        </div>
    }

</div>